extends layout

block content
  .main
    .container
      .logo
        img(src='/images/logo.png')
      .order-buttons.center-block
        span.col-md-1.hidden-sm.col-xs-1
        a.btn.col-md-3.col-sm-5.col-xs-9.landing-button(href='/portfolio') Наши работы
        span.col-md-4.col-sm-2.col-xs-1.middle-button-spacer
        a.btn.col-md-3.col-sm-5.col-xs-9.landing-button(href='/services') Посчитать мой проект
        span.col-md-1.hidden-sm.col-xs-1
  //footer.visible-lg.visible-md.visible-sm
    .container
      .blog-link
        a(href='#')
          span Тренды 2016: индивидуальность, простота, экологичность...
          u читать дальше
