doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1, user-scalable=no')
    meta(name='description', content='Sreda - студия дизайна интерьеров')
    meta(name='keywords', content='Sreda, interior, interior design, дизайн интерьеров, интерьер, ремонт, квартира, дом')
    meta(name='author', content='Eugenya Zavistovskaya, Denis Polulyakh, Alena Zhilko')
    title= title || 'Sreda'
    link(rel="icon", type="image/x-icon", href="/favicon.png?v=5")

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-slider.min.css', rel='stylesheet')
    link(href='/stylesheets/team.css', rel='stylesheet')
    link(href='/stylesheets/nav.css', rel='stylesheet')
    link(href='/stylesheets/doc.css', rel='stylesheet')
    link(href='/stylesheets/contacts.css', rel='stylesheet')
    link(href='/stylesheets/portfolio.css', rel='stylesheet')
    link(href='/stylesheets/services.css', rel='stylesheet')
    link(href='/stylesheets/bg.css', rel='stylesheet')
    link(href='/stylesheets/team.css', rel='stylesheet')

    != LRScript
      
  body(class=bodyClass)
    .super-container
      header#top.navbar.navbar-default.bs-docs-nav(role='banner')
        .navbar-header
          .navbar-brand(class= isActivePage('index') && 'active')
            a(href='/')
              span.home-link &nbsp;

          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='bs-navbar', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        nav#main-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class= isActivePage('services') && 'active')
              a(href='/services/') Услуги
            li(class= isActivePage('portfolio') && 'active')
              a(href='/portfolio/') Портфолио
            li(class= isActivePage('team') && 'active')
              a(href='/team/') Команда
            li(class= isActivePage('contacts') && 'active')
              a(href='/contacts/') Контакты
          span.upper-contact.visible-lg
            a(href='tel:+380950124237')
              span.glyphicon.glyphicon-earphone
              strong (095) 012 42 37
    
      block content
      footer
        .container
         .centered &copy; 2016 Sreda

    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/bootstrap-slider.min.js')
    script(src='/javascripts/jquery.maskedinput.min.js')
    script(src='/javascripts/sha1.js')

    script(src='/javascripts/docs.js')
    script(src='/javascripts/calc.js')

    script
      |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      |  (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
      |  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      |  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      |  ga('create', 'UA-84566745-1', 'auto');
      |  ga('send', 'pageview');

