extends ../layout

block content
  .main.team-main
    .container.team-container.narrow-container
      .about
        p.fake Студия интерьеров «SREDA»- студия глобальных дизайнерских решений, которая знает, как сделать Ваш интерьер лучшим, не отстающая от  тенденций мирового дизайна!
        p
        p Пафосно… Но это не то, что хотелось бы сказать о нас.

        p Наша история началась очень давно с идеи Алены собрать профессионалов и отличных, позитивных  ребят для работы в одной команде. Не случилось ничего невероятного, <strong>просто</strong> взяли и начали вместе встречаться за чаем и просто придумывать <strong>для Вас</strong> дизайн, <strong>смелый и нужный</strong> интерьер.
        p Мы на редкость честны друг перед  другом и своими заказчиками, и делаем это основой взаимоотношений.  Каждый из нас успел состояться, как абсолютно автономный успешный специалист. Но когда МЫ вместе, то создаем  что-то большее, чем просто хороший дизайн, мебель, ремонт …мы  добавляем <strong>уникальность</strong> в каждый квадратный метр.
        p Мы <strong>не признаем</strong> непрофессионализм. Для нас  не имеет значения, над  чем мы работаем: детская комната, пентхаус , квартира холостяка, летнее кафе… в каждом проекте мы видим возможность проявить себя. Поэтому у нас в работе не бывает «текучки» .

        p Приглашаем Вас присоединиться к нашей компании  и стать соавтором Вашего интерьера!

      h1.centered Наша команда
      .member
        .col-md-4.member_photo
          img(src='/images/team/alena.png')
        .col-md-8.details
          h3 Алена Жилко
          h4 Руководитель студии, автор проектов.  Опыт работы – 7лет
          ul
            li Болезненная потребность в эстетике
            li Умеет  вдохновить и озадачить
            li Любит предоплату
            li Имеет  5 телефонов и 7 записных книжек
            li Живет на планете Сатурн
            li Проектирует во сне
      .member
        .col-md-4.member_photo
          img(src='/images/team/sergey.png')
        .col-md-8.details
          h3 Сергей  Швецов
          h4 Дизайнер мебели, руководитель авторской мебельной мастерской. Опыт работы - 15лет
          ul
            li Перфикционист
            li Знает, КАК НАДО
            li Любит предоплату
            li Умный, идейный и ни капли не скромный
            li Решает нерешимое
            li Верит в карму
      .member
        .col-md-4.member_photo
          img(src='/images/team/diana.png')
        .col-md-8.details
          h3 Диана Айвазян
          h4 Дизайнер интерьера, визуализатор. Опыт работы - 5лет
          ul
            li Не спит ночью
            li Не спит днем
            li Не спит
            li Требовательна к себе
            li Любит предоплату
            li Вдохновлённая
            li Умеет объять необъятное
            li Знает, как сделать «Красиво»


      .member
        .col-md-4.member_photo
          .empty_member_photo ?
        .col-md-8.details
          h3 Константин  Губский
          h4 Архитектор, главный руководитель отдела крупной проектной организации. Опыт работы более 10 лет.
          ul
            li Точный и педантичный
            li Не любит  НЕ ПРОФЕССИОНАЛОВ
            li Любит предоплату
            li Знает ВСЕ
            li Пишет печатными буквами
            li Говорит по-французски
            li Любит отдых и не признает допинг
            li Один из последних честных людей

      .member
        .col-md-4.member_photo
          .empty_member_photo ?
        .col-md-8.details
          h3 X-Man (удаленный сотрудник)
          h4 Дизайнер-визуализатор
          ul
            li Неосязаемо присутствует на всех этапах работы
            li Нашел заветную кнопку  “СДЕЛАТЬ КРУТО”
            li Любит предоплату
            li Свободолюбивый
            li От скорости работы сгорела не одна мышка
            li Креативный и прогрессивный

      .member
        .col-md-4.member_photo
          .empty_member_photo ?
        .col-md-8.details
          h3 Петр Максимец
          h4 Руководитель строительных, ремонтных  работ. Опыт работы 10лет
          ul
            li Любит сложные задачи
            li Не знаком с Равшаном и Джамшутом
            li Любит предоплату
            li Знает что такое смета и бюджет