@translucent_black: rgba(0.1, 0.1, 0.1, 0.7);
@secondary_background: #353535;
@footer_height: 40px;

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition:    @transition;
  -ms-transition:     @transition;
  -o-transition:      @transition;
}
