body.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/images/home/bg1.jpg');
}

@media (max-width: 1499px) {
  body.home {
    background-image: url('/images/bg_medium.jpg')
  }
}

@media (max-width: 1000px) {
  body.home {
    background-image: url('/images/bg_small.jpg')
  }
}
