@import "_shared";

.contacts-main {
  padding-bottom: @footer_height;
  height: 100%;
}

.container.contacts-container {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  background: @secondary_background;
  height: 100%;
  padding: 50px;
}

.contacts-block {
  .glyphicon {
    margin-right: 10px;
  }
  span.with-image {
    margin-right: 10px;
  }

  hr {
    margin: 4px 0 30px 0;
    color: #AAA;
    background-color: #AAA;
    border-color: #AAA;
  }
  a, a:visited, a:active {
    color: white;
  }

  border: 1px solid white;
  padding: 5px 50px 40px 50px;
  width: auto;

  display: table;
  min-width: 80%;
  background: #444;

  margin: 40px auto auto;

  h3 {
    font-size: 30px;
    line-height: 24px;
  }

  .contacts-logo img {
    display: table;
    margin: 40px auto;
    max-width: 200px;
  }
}

@media (max-width: 560px) {
  .container.contacts-container {
     padding: 5px;

    .contacts-block {
      margin-top: 10px;
      padding: 20px;
    }

    .contacts-logo img {
      display: table;
      margin: 20px auto;
      max-width: 200px;
    }
    hr {
      margin: 5px;
    }
  }
}
