@import "_shared";

html, body {
  height: 100%;
}

body {
  color: white;
  background-color: #292929;
}

.super-container {
  min-height: 100%;
  height: 1px;
}

.logo {
  margin: 40px auto 100px auto;
  width: 400px;
  img {
    width: 400px;
  }
}

.upper-contact {
  position: absolute;
  right: 10px;
  top: 0;
  color: white;
  line-height: 39px;
}

.main {
  min-height: 100%;
  margin-top: -60px;
  margin-bottom: -@footer_height;
  padding-top: 40px;

  .container {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .landing-button {
    margin-top: 10px;
    background-color: @translucent_black;
    font-weight: bold;
    color: white;
    border-radius:  0;
    border: 2px solid #DDD;
    height: 50px;
    line-height: 35px;

    &:hover {
      background-color: rgba(51,51,51,0.7);
    }

    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s linear;
  }
  .landing-button:active {
    background-color: #777;
  }
}

footer {
  padding-top: 10px;
  width: 100%;
  height: 40px;
  background-color: rgba(0.1, 0.1, 0.1, 0.3);
  .centered {
    display: table;
    margin: auto;
  }
}

.blog-link a {
  color: white;
  font-weight: bold;
}

.back-link {
  position: fixed;
  top: auto;
  left: 10px;
  bottom: 10px;
  z-index: 9999;

  border-radius: 1px;
  width: 40px;
  padding-left: 9px;
  padding-top: 2px;
  height: 30px;
  background: #3f3f3f;
  border: 1px solid #4f4f4f;

  a {
    display: block;
  }
  .svg svg *{
    fill: #AAA;
  }
  &:hover .svg svg *{
    fill: #EEE;
  }
}

.container.narrow-container {
  max-width: 950px;
}

.upper-contact{
  a, a:visited, a:active {
    color: white;
  }
}

.glyphicon-earphone {
  font-size: 0.8em;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .middle-button-spacer {
    clear: both;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 300px;
    margin: 10px auto 20px auto;
    img {
      width: 300px;
    }
  }
  .container {
    margin-bottom: 0px;
  }
}