@import "_shared";

.navbar-toggle .icon-bar {
  background-color: #563d7c;
}

.navbar {
  background-color: @translucent_black;
  min-height: 38px;

  .navbar-brand {
    width: 40px;
    height: 38px;
    padding: 0;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    span.home-link {
      margin-top: 10px;
      margin-left: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url('/images/logo_white_small.png') no-repeat ;
    }
  }


  &.navbar-default {
    border: none;
    border-bottom: 2px solid #DDD;
    border-radius: 0;
  }
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-collapse {
    text-align: center;
  }

  .nav.navbar-nav > li, .navbar-brand  {
    border-bottom: 3px transparent solid;
    -webkit-transition: border-bottom 0.1s linear;
    transition: border-bottom 0.1s linear;

    &:hover {
      border-bottom: 3px #777 solid;
    }

    a {
      color: white;
      &:hover {
        color: white;
        background-color: #777 !important;
      }

      -webkit-transition: background-color 0.1s linear;
      transition: background-color 0.1s linear;
    }
  }
  .nav.navbar-nav > li.active, .navbar-brand.active {
    border-bottom: 3px solid white;
    font-weight: bold;
    a {
      background-color: transparent;
    }
  }
}

.navbar-nav > li {
  width: 100px;
  & > a {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1000px)  {
  .navbar-nav > li{
    width: 160px;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 50px;
    height: 50px;

    span.home-link {
      margin-top: 15px;
      margin-left: 15px;
    }
  }

}
