@import "_shared";


.portfolio {
  .images-container {
    min-height: 410px;

    img {
      display: inline-block;
      overflow: hidden;
    }

    a.text-square {
      width: 100%;
      height: 100%;
      background: #383838;
      color: #eaeaea;
      font-size: 28px;
      line-height: 30px;
      font-weight: 200;
      display: table;

      //animations for background color
      .transition(all 0.2s ease-in);

      span {
        padding: 0 10px;
        display: table-cell;
        vertical-align: middle;
      }
      &:active, &:focus, &:hover {
        text-decoration: none;
        background: #454545;
      }
    }

    img, a.text-square {
      border: 1px solid #4a4a4a;
      .transition(all 0.3s ease-in);
    }
    a.text-square:hover, img:hover {
      border: 1px solid #777;
    }

    .width1 {
      width: 182px;
    }
    .width2 {
      width: 370px;
    }
    .height1 {
      height: 182px;
    }
    .height2 {
      height: 370px;
    }
  }
  .gallery-item {
    display: block;
    float: left;
    margin: 18px 8px 8px 0;

    .on-hover-container {
      font-size: 18px;
    }
  }

  .pair > .gallery-item {
    float: none;
    margin: 0;
  }

  .pair > .gallery-item:first-child {
    margin-bottom: 6px;
  }

  .on-hover-container {
    position: absolute;
    top: -100%;
    bottom: 100%;
    left: 0;
    right: 0;
    transition: top 0.2s, bottom 0.2s;

    .details-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000;
      opacity: 0.7;
      z-index: 0;
    }
    .details-text {
      padding: 8px;
      color: white;
      z-index: 150;
      position: absolute;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  .img-holder {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .img-holder:hover > .on-hover-container {
    top: 0;
    bottom: 0;
  }
}

.project {
  .container {
    width: auto;
    margin-right: 80px;
    margin-left: 80px;
  }
  .project-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  h2 {
    display: table;
    margin: 20px auto 20px auto;
  }
  .project-photo {
    margin: 10px;
    img {
      max-width: 600px;
      max-height: 600px;
    }
  }
}

@media (max-width: 400px) {
  .project .project-photo  img {
      max-width: 350px;
      max-height: 350px;
  }
  .portfolio-container.container {
    width: 380px;
    overflow: hidden;
    padding: 0;
  }
}


@media (min-width: 400px) {
  .portfolio-container.container {
    width: 380px;
    overflow: hidden;
    padding: 0;
  }
}

@media (min-width: 780px) {
  .portfolio-container.container {
    width: 780px;
  }
}

@media (min-width: 1140px) {
  .portfolio-container.container {
    width: 1140px;
  }
}