@import "_shared";

.container.services-container {
  font-family: Verdana, Tahoma, Arial;
  max-width: 950px;


  h3 {
    margin-left: 15px;
  }

  .calc-area {
    margin: auto;
    float: none;

    .order-addon {
      width: 200px;
      text-align: right;
    }

    .slider {
      margin-top: 10px;
      width: 100%;
      .slider-handle {
        background: #777;
      }
      .slider-selection {
        background: #BABABA;
      }
    }
    .input-group .input-group-addon {
      border-radius: 0;
      background: #888;
      color: white;
      border: 1px solid #EEE;
    }
    .input-group input[type=text] {
      border: 1px solid #EEE;
    }

    label.btn-calc:first-child {
      border-right: none;
    }
    .btn-calc {
      overflow: hidden;
      border: 1px solid white;
      border-radius: 1px;
      color: white;
      background: #333;
    }
    .btn-calc:hover {
      color: white;
      border: 1px solid #999;
    }

    .btn-calc:focus {
      background: none;
    }
    .btn-calc.active, .btn-calc.active:focus {
      background-color: #595959;
    }
    .btn-calc.active:before {
      content: "\e013";
      position: absolute;
      top: 50%;
      margin-top: -7px;
      left: 20px;

      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    .no-float {
      float: none;
    }

    .fill {
      width: 100%;
    }

    .margin-top {
      margin-top: 50px;
    }

  }
  .field-block {
    margin-top: 20px;
    float: none;
  }

  .button-block {
    margin-top: 10px;
  }

  .order-block {
    margin-top: 70px;
  }

  .text-muted {
    font-size: 12px;
  }
}

.slider.slider-horizontal {
  .slider-track {
    height: 20px;
  }
  .slider-handle {
    width: 30px;
    height: 30px;
  }
}


@media (max-width: 560px) {
  .container.services-container .calc-area {
    .order-block {
      margin-top: 10px;
    }

    .btn-calc.active:before {
      left: 5px;
    }

    .compact.input-group {
      display: block;

      .order-addon {
        display: block;
        text-align: left;
        width: 100%;
        margin-top: 5px;
        border-radius: 3px 3px 0 0;
      }
      input {
        display: block;
        border-radius: 0 0 3px 3px !important;
        float: none;
      }
    }
  }

}