@import "_shared";

.container.team-container {
  font-family: Verdana, Tahoma, Arial;

  background: @secondary_background;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;

  margin-bottom: 50px;

  .about {
    .fake {
      font-style: italic;
      font-size: 18px;
      margin-bottom: 40px;
    }
    max-width: 650px;
    margin: auto;
    font-size: 16px;
    text-align: justify;
  }
  h1.centered {
    display: table;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .member {
    margin: 40px 20px;
    min-height: 290px;
    border-top: 1px solid #555;
    clear: both;
  }
  .member:first-child {
    border-top: none;
  }
  .details {
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 50px;
    h4 {
      color: #aaafb3;
    }
    ul {
      margin-top: 20px;
      font-size: 16px;
      padding-left: 20px;
      list-style-type: none;
      li:before {
        content: "\2713"; //E29C93
        margin-left: -1em;
        margin-right: 8px;
        display: inline-block;
      }
    }
  }
  .member_photo, .empty_member_photo {
    width: 250px;
    height: 250px;
    margin-top: 10px;
  }
  .empty_member_photo {
    border-radius: 125px;
    background: #999;
    font-size: 100px;
    color: white;
    line-height: 250px;
    padding-left: 90px;
  }
}

@media (max-width: 560px) {
  .container.team-container {
    padding: 15px ;

    .member {
      margin: 10px 0 5px 0;
    }
    .details {
      padding: 0;
    }
  }
}
