extends ../layout

block content
  .main.contacts-main
    .container.narrow-container.contacts-container
      .contacts-block
        .contacts-logo
          img(src='/images/logo.png')
        hr
        h4 г. Харьков
        h4
          a(href='tel:+380950124237')
            span.glyphicon.glyphicon-earphone
            span 095-012-42-37
        h4
          a(href='tel:+380688225929')
            span.glyphicon.glyphicon-earphone
            span 068-822-59-29

        h4
          a(href='mailto:sreda_ds@mail.ua')
            span.glyphicon.glyphicon-envelope
            span sreda_ds
            span @
            span mail.ua

        h4
          a(href='skype:alena40288?chat')
            span.with-image
              img(src='/images/skype_icon.png')
            span Skype: alena40288

        h4
          a(href='https://www.facebook.com/groups/1637835749826022/')
            span.with-image
              img(src='/images/facebook_icon.png')
            span Sreda на Facebook
