extends ../layout

mixin radioInput(text, name, value, checked)
  !='<input type="radio" name="' + name + '" autocomplete="off" value="' + value + '" ' + (checked ? " checked " : "" ) + "> " + text + " </input>"

mixin checkboxInput(text, name, checked)
  !='<input type="checkbox" name="' + name + '" autocomplete="off" value="' + value + '" ' + (checked ? " checked " : "" ) + "> " + text + " </input>"

block content
  input#ts1(type='hidden', value= new Date().getTime())
  input#ts2(type='hidden', value='')
  .main
    .container.services-container
      .calc-area.col-sm-9.no-float

        h3 Расчет стоимости услуг

        .col-sm-12.no-float
          .field-block.btn-group.btn-group-justified( data-toggle="buttons")
            label.btn.btn-calc.active
              +radioInput('Частный', 'group-type', 'private', true)
            label.btn.btn-calc
              +radioInput('Коммерческий (общественный)', 'group-type', 'public', false)

          .field-block.btn-group.btn-group-justified(role='group', data-toggle="buttons")
            label.btn.btn-calc.active
              +radioInput('Современный', 'group-style', 'modern', true)
            label.btn.btn-calc
              +radioInput('Классический', 'group-style', 'classic', false)

        .col-sm-12.field-block.no-float
          .input-group.linear
            span.input-group-addon Площадь
            input#input-area.form-control(type='number', name='area', value='100')
            span.input-group-addon
              span м
              sup 2
          .input-group.fill
            input#input-area-slider.form-control(type='number',
              data-slider-min='10', data-slider-max='250', data-slider-step="1", data-slider-value="100")

          .field-block.btn-group.fill.margin-top
            button.btn.btn-calc.btn-block.active#btn-art(type='button', data-toggle='button')
              span Концепт-дизайн

          .field-block.btn-group.fill
            button.btn.btn-calc.btn-block.active#btn-drawings(type='button', data-toggle='button')
              span Пакет чертежей

          .field-block.btn-group.fill
            button.btn.btn-calc.btn-block.active#btn-management(type='button', data-toggle='button')
              span Ведение проекта

        .col-md-6.no-float
          hr
        .col-md-12.no-float
          h2#result $2000
          span.text-muted Эти цифры - лишь ориентир стоимости. Окончательную стоимость мы согласуем с Вами после уточнения деталей технического задания.



        .col-sm-12.col-md-12.no-float.button-block.order-block
          .input-group.col-sm-12.compact
            span.input-group-addon.order-addon Ваш телефон:
            input#phone.form-control(type='phone', name='phone', placeholder='+38')
          .input-group.col-sm-12.compact
            span.input-group-addon.order-addon Как к Вам обращаться?
            input#name.form-control(type='text', name='name', placeholder='Ваше имя')
          .input-group.fill.button-block
            button.btn.btn-info.btn-block.btn-lg#btn-order(type='button', data-loading-text="Отправляем...") Заказать проект!
        .col-sm-12.margin-top
          .alert.alert-danger.alert-dismissable(style='display: none;')
            button.close(type='button', data-dismiss="alert", aria-label="Close" )
              span(aria-hidden="true") &times;
            span Не получилось отправить сообщение :(
          .alert.alert-success.alert-dismissable(style='display: none;')
            button.close(type='button', data-dismiss="alert", aria-label="Close" )
              span(aria-hidden="true") &times;
            span Заказ отправлен, Алена свяжется с вами при ближайшей возможности!

