extends ../layout


mixin galleryItem(item)
  if item.tile == 'small_text'
    .gallery-item.text-container(class=item.className)
      a.text-square(href='#')
        span= item.text
  else
    .gallery-item.img-container(class=item.className)
      a.img-holder(href= '/portfolio/' + item.mnemonic)
        img(src="/images/projects/" + item.folder + '/preview.jpg')
        .on-hover-container
          .details-bg
          .details-text
            p= item.title

block content
  .main
    .container.portfolio-container
      .images-container
        - for (var i = 0; i < pages.length; ++i) {
          - var item = pages[i];
          if item.startPair
            .pair.gallery-item.height2
              +galleryItem(item)
              - i++
              - item = pages[i];
              if item
                +galleryItem(item)
          else
            +galleryItem(item)

        - }
