extends ../layout
block content
  .main
    .container
      .images-container
        .img-col2
          a.img-holder(href='#')
            img.width2.height2(src="/images/p1_b_sq.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
            
        .img-col1.pair
          .width1.height1.text-square-container
            a.text-square(href='#')
              span Дома и квартиры
          a.img-holder(href='#')
            img.width1.height1(src="/images/p2_sm_sq.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
          
        .img-col1
          a.img-holder(href='#')
            img.width1.height2(src="/images/p3_vertical.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
        .img-col2.pair
          a.img-holder(href='#')
            img.width2.height1(src="/images/p4_hor.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
          a.img-holder(href='#')
            img.width2.height1(src="/images/p5_hor.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
      
      .images-container
        .img-col1.pair
          .width1.height1.text-square-container
            a.text-square(href='#')
              span Для бизнеса
          a.img-holder(href='#')
            img.width1.height1(src="/images/p2_sm_sq.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
            
        .img-col1
          a.img-holder(href='#')
            img.width1.height2(src="/images/p3_vertical.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
        
        .img-col2
          a.img-holder(href='#')
            img.width2.height2(src="/images/p1_b_sq.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
          
        .img-col2.pair
          a.img-holder(href='#')
            img.width2.height1(src="/images/p4_hor.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
          a.img-holder(href='#')
            img.width2.height1(src="/images/p5_hor.jpg")
            .on-hover-container
              .details-bg
              .details-text
                h3 Лофт-интерьер в трехкомнатной квартире
                p Большая квартира в Харькове
          
    .container
      .col-md-6.col-sm-12
        h2 Тренды 2016: Индивидуальность, простота и экологичность
        p 
          | Сегодня, создавая уникальный и неповторимый образ своего жилища, смело сочитайте антикварные вещицы и мебель из оргстекла, 
          | имитацию битого кирпича в отделке стен и нежные цветочные принты в обивке ...
        .blog-link
          a(href='#') 
            | Дальше
      .col-md-6.col-sm-12
        h2 Тренды 2016: Индастриал
        p 
          | Дух индастриала тяготеет к просторным помещениям, высоким потолкам и большим окнам. 
          | В квартире и в жилом доме можно воссоздать его искусственный вариант, общую стилистику. 
          | В вашем арсенале: декоративный кирпич, состаенное илди грубо отделанное дерево, тусклый метал с налетом раживчины...
        .blog-link
          a(href='#')
            | Дальше
