extends ../layout

block content
  .main.project
    .container
      h2= page.title

      .project-container
        - for(var i=0; i<page.count; i++) {
          .project-photo
            img(src='/images/projects/' + page.folder + '/' + (i+1) + '.jpg')

        - }
    .back-link
      a(href='#', onclick="event.preventDefault(); window.scrollTo(0, 0);")
        .svg
          | <svg
          | version="1.1"
          | xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          | xmlns:cc="http://creativecommons.org/ns#" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 129.29492 96.979142" xmlns:dc="http://purl.org/dc/elements/1.1/"
          | xmlns="http://www.w3.org/2000/svg"
          | height="25px"
          | width="20px">
          |  <g id="layer1" transform="translate(-413.85 -186.75)">
          |   <path id="path3336" d="m478.5 186.75-64.65 51.014 11.111 4.7969c3.7938 1.4712 8.5879-0.75586 8.5879-0.75586l34.907-25.76s0.0813 53.4 0.0489 57.946c-0.0632 8.8602 4.7836 9.739 9.8468 9.7384 5.3798-0.00074 9.5864-0.85831 9.5935-9.6528 0.004-4.5457 0.0509-58.15 0.0509-58.15l35.451 25.896s3.9759 3.0434 8.5859 0.75586l11.111-4.7969-64.645-51.01z" fill-rule="evenodd" fill="#888"/>
          |   <use id="use3338" xlink:href="#path3336" transform="matrix(-1 0 0 1 741.94 -14.48)" height="100%" width="100%" y="0" x="0"
          | fill="#555"/>
          |  </g>
          | </svg>
